In [1]:
import pandas as pd

csv_path = "/Users/shuooo/Documents/JOBS/sellery.inc/Perfume_projects/AllOrder_0701.csv"
df = pd.read_csv(csv_path, encoding="utf-8")

df.head()
df.info()
df.describe()

print("日期范围:", df['Created Time'].min(), "→", df['Created Time'].max())
missing = df.isna().sum().sort_values(ascending=False)
missing.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29917 entries, 0 to 29916
Data columns (total 58 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Order ID                         29917 non-null  int64
 1   Order Status                     29917 non-null  object
 2   Order Substatus                  29917 non-null  object
 3   Cancelation/Return Type          1073 non-null   object
 4   Normal or Pre-order              29225 non-null  object
 5   SKU ID                           29917 non-null  int64
 6   Seller SKU                       11316 non-null  object
 7   Product Name                     29917 non-null  object
 8   Variation                        29917 non-null  object
 9   Quantity                         29917 non-null  int64
 10  Sku Quantity of return           29917 non-null  int64
 11  SKU Unit Original Price          29917 non-null  float64
 12  SKU Subtotal Before Discount     29917 non-null  float64
 13  SKU Platform Discount            29917 non-null  float64
 14  SKU Seller Discount              29917 non-null  float64
 15  SKU Subtotal After Discount      29917 non-null  float64
 16  Shipping Fee After Discount      29917 non-null  float64
 17  Original Shipping Fee            29917 non-null  float64
 18  Shipping Fee Seller Discount     29917 non-null  float64
 19  Co-Funded Shipping Fee Discount  29917 non-null  float64
 20  Shipping Fee Platform Discount   29917 non-null  float64
 21  Payment platform discount        61 non-null     float64
 22  Retail Delivery Fee              29917 non-null  float64
 23  Taxes                            29917 non-null  float64
 24  Order Amount                     29917 non-null  float64
 25  Order Refund Amount              1082 non-null   float64
 26  Created Time                     29917 non-null  object
 27  Paid Time                        29917 non-null  object
 28  RTS Time                         29917 non-null  object
 29  Shipped Time                     29917 non-null  object
 30  Delivered Time                   29917 non-null  object
 31  Cancelled Time                   29917 non-null  object
 32  Cancel By                        847 non-null    object
 33  Cancel Reason                    847 non-null    object
 34  Fulfillment Type                 29917 non-null  object
 35  Warehouse Name                   29917 non-null  object
 36  Tracking ID                      28377 non-null  object
 37  Delivery Option Type             29916 non-null  object
 38  Delivery Option                  29916 non-null  object
 39  Shipping Provider Name           0 non-null      float64
 40  Buyer Message                    15 non-null     object
 41  Buyer Username                   29891 non-null  object
 42  Recipient                        29916 non-null  object
 43  Phone #                          29916 non-null  object
 44  Country                          29916 non-null  object
 45  State                            29916 non-null  object
 46  City                             29916 non-null  object
 47  Zipcode                          29917 non-null  object
 48  Address Line 1                   29916 non-null  object
 49  Address Line 2                   4930 non-null   object
 50  Delivery Instruction             5228 non-null   object
 51  Payment Method                   29214 non-null  object
 52  Weight(kg)                       29917 non-null  float64
 53  Product Category                 29917 non-null  object
 54  Package ID                       29917 non-null  object
 55  Seller Note                      0 non-null      float64
 56  Shipping Information             29916 non-null  object
 57  Combined Listing                 5874 non-null   object
dtypes: float64(18), int64(4), object(36)
memory usage: 13.2+ MB
日期范围: 05/07/2025 10:00:14 PM	 → 06/04/2025 9:59:53 AM

Shipping Provider Name       29917
Seller Note                  29917
Buyer Message                29902
Payment platform discount    29856
Cancel Reason                29070
Cancel By                    29070
Cancelation/Return Type      28844
Order Refund Amount          28835
Address Line 2               24987
Delivery Instruction         24689
Combined Listing             24043
Seller SKU                   18601
Tracking ID                   1540
Payment Method                 703
Normal or Pre-order            692
dtype: int64